/* use Inter font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* reset CSS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  background-color: #151515;
}

.App {
  min-height: 100vh;
  color: white;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.pagination .text {
  opacity: 0.6;
  font-size: 1.5rem;
}

.page {
  color: white;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border: solid 0.2rem #4aa5be;
  background-color: transparent;
  border-radius: 0.7rem;
  cursor: pointer;
}

.page.active,
.page:hover {
  background-color: #4aa5be;
}

.page.disabled {
  background-color: transparent !important;
  cursor: not-allowed;
  opacity: 0.5;
}

h2 {
  margin-top: 4rem;
  text-align: center;
  text-transform: uppercase;
}

.App img {
  margin: 0 auto;
  height: 10rem;
  display: block;
}

.App .title {
  text-align: center;
  padding: 1rem;
  border-radius: 0.7rem;
  color: #61dafb;
  background-color: #61dafb0d;
  width: fit-content;
  margin: 0 auto;
  font-family: monospace;
}

.items {
  padding: 0 50px;
  margin: 0 auto;
  margin-top: 4rem;
  width: 100%;
  max-width: 1080px;
}

.App .item {
  font-size: 1.4rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  text-align: center;
  border: 1px solid #4aa5be;
  padding: 1rem;
  justify-content: center;
  height: 50px;
  position: relative;
  font-family: monospace;
  font-size: 16px;
}

.categories {
  display: flex;
  width: 100%;
  justify-content: space-between;
  overflow: scroll;
  padding-right: 20px;
}

.category {
  border: 1px solid #4aa5be;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 50px;
  font-family: monospace;
  font-weight: bold;
  font-size: 16px;
}

.category:hover {
  background-color: #4aa5be;
  transition: all .2s linear;
}

.tableColumn {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.deleteButton {
  position: absolute;
  right: -20px;
  top: 0;
  bottom: 0;
  border: solid 0.2rem #4aa5be;
  background-color: inherit;
  color: white;
  padding: 1px 2px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #4aa5be;
  transition: all .2s linear;
}

.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(41, 41, 41, 0.772);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__window {
  padding: 20px;
  width: 400px;
  height: 200px;
  background: white;
  border-radius: 10px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.modal__window p {
  padding: 20px;
}

.buttons {
  display: flex;
}

.buttonsContent button {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.searchForm {
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading{
  position: absolute;
  top: 30%;
  /* left: 50%; */
  right: 50%;
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: donut-spin 1.2s linear infinite;
}

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
